* {
	box-sizing: border-box;
	margin:0;
}

body {
	background:#f2f2f2;
}

h1 {
    margin:30px;
    text-align: center;

}

h3 {
	float: right;
	width: auto;
	border: 1px solid black;
	padding: 1px 5px 1px 5px;
}

div {
	text-align: center;
	float: left;
	height: 650px;
	padding: 10px;
}

section {
	background-color: #d9d9d9;
	border: 1px solid black;
	overflow: auto;
	height: 100%;
}

pre {
	padding: 10px;
	clear:right;
}

#title1 {
	background-color: #ffb3b3;
}

#title2 {
	background-color: #b3d9ff;
}

#title3 {
	background-color: #ffff99;
}

/* Desktop */
@media (min-width: 992px) {
	div {
		width:33%;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	div {
		width: 50%;
	}
	#section3 {
		width: 100%;
	}
}

/* Mobile */
@media (max-width: 767px) {
	div {
		width:100%;
	}
}